<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.moduth.blockcanary">

    <!-- To store the heap dumps and leak analysis results. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".ui.DisplayBlockActivity"
            android:enabled="false"
            android:icon="@drawable/block_canary_icon"
            android:label="@string/display_activity_label"
            android:taskAffinity="com.github.moduth.blockcanary"
            android:theme="@style/block_canary_BlockCanary.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
