<manifest
    package="com.github.moduth.blockcanary.core"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To store the heap dumps and leak analysis results. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application/>

</manifest>
