<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.moduth.blockcanary.core">

    <!-- To store the heap dumps and leak analysis results. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>

    </application>

</manifest>
